.hero-container{
    background: linear-gradient(to bottom, rgb(0, 0, 0 , 0.7) 5%, rgba(255, 255, 255, 0.1)) 10% , 
    radial-gradient(circle, rgba(255,248,248,0), rgba(1,9,34,0.5) 6%, rgb(0, 0, 0)) 1000%, 
    url("../../public/assets/image/1d42858cthumbnail.jpeg");
    background-size: cover; /* Ensures the image covers the full div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    height: 100vh; /* Full screen height */
    width: 100%; /* Full screen width */
    position: relative; /* Ensures it stays fixed */
}


  